@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1 class="text-center">First View</h1>
<p class="text-center">I kind of like this ASP.NET MVC Course</p>